.card-day-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}

.card-list {
  background: #4f4f4f;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  margin-top: 25px;
  padding: 3px 25px 15px 25px;
}

@media (max-width: 1392px) {
  .title-card {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (max-width: 1045px) {
  .card-day-list {
    overflow-x: scroll;
    overflow-y: hidden;

    column-gap: 15px;
  }
}

@media (max-width: 768px) {
  .card-day-list {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    column-gap: 10px;
  }
  .card-list {
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  .card-list {
    margin-top: 15px;
  }
}
